<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Customer's Canvas 예제 페이지</title>

    <link href="{% static 'css/canvas/index.css' %}" rel="stylesheet"/>
    <!-- IFrameAPI 스크립트 -->
    <script id="CcIframeApiScript" type="text/javascript" src="{{ IframeApi }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 제품 디자인 정의
            let productDefinition = {
                surfaces: [{
                    name: "Front Side",
                    printAreas: [{
                        designFile: "samples/businesscard/test-11", // PSD, IDML 파일 확장자 제외
                        safetyLines: [{ // 안전선
                            margin: 5,
                            color: "rgba(0,0,255,1)",
                            altColor: "rgba(255,255,255,0)"
                        }]
                    }],
                    previewMockups: [{down: "samples/mockup1"}],
                    proofImage: {
                        fileFormat: "PNG",
                        rgbColorProfileName: "Adobe RGB (1998)",
                        mockupEnabled: true
                    }
                },
                    {
                        name: "Back Side",
                        printAreas: [{
                            designFile: "samples/businesscard/test-12"
                        }],
                        previewMockups: [{down: "samples/mockup1"}]
                    }
                ]
            };

            // 에디터 설정 정의
            let configuration = {
                widgets: {
                    FinishButton: {
                        mode: "Disabled" // "Download", "Disabled"
                    }
                },
                initialMode: "Advanced", // "Simple", "Advanced", "SimpleOnly"
                rendering: {
                    proofImageMockupEnabled: true
                }
            };

            let editorFrame = document.getElementById('editorFrame');

            let editor = null;

            function handleError(error, message) {
                console.error(message, error);
                return error;
            }

            let loadData = null;

            // 에디터에 제품 디자인 불러오기
            CustomersCanvas.IframeApi.loadEditor(editorFrame, productDefinition, configuration)
                .then(function (e) {
                    // 에디터 불러오기 성공
                    editor = e;
                })
                .catch(function (error) {
                    // 에디터 불러오기 실패
                    loadData = handleError(error, 'Load failed with exception: ');
                });

            let currentPage = 'design';

            // getProofImages가 만드는 데이터 저장
            let approveData = null;

            // finishProductDesign가 만드는 데이터 저장
            let renderData = null;

            // saveProduct가 만드는 데이터 저장
            let saveData = null;

            // 제품 페이지 저장
            document
                .querySelector('#editorPage #saveButton')
                .addEventListener('click', function (e) {
                    editor.saveProduct()
                        .then(function (result) {
                            // 제품 상태 정보 저장
                            saveData = result;
                        })
                        .catch(function (error) {
                            // 제품 저장 실패
                            saveData = handleError(error, 'Save failed with exception: ');
                        });
                });

            // 제품 페이지 추가
            document
                .querySelector('#editorPage #addButton')
                .addEventListener('click', function (e) {
                    editor.getProduct()
                        .then(function (product) {
                            // 빈 디자인으로 추가
                            // 서피스 크기는 포인트 값으로 지정(1 포인트 = 1/72인치)
                            product.addSurface({width: 720, height: 504})
                                .catch(function (error) {
                                    console.error('Failed to add an empty surface with an exception: ', error);
                                });

                            // 템플릿으로 추가
                            /*
                            product.addSurface({
                                printAreas: [{designFile: "postcard_side2"}]
                            }).catch(function (error) {
                                console.error('Failed to add a surface from a template with an exception: '', error);
                            });
                             */
                        });
                });

            // 제품 페이지 삭제
            document
                .querySelector('#editorPage #removeButton')
                .addEventListener('click', function (e) {
                    console.log('remove');
                });

            // 미리보기 검증 이미지 가져오기
            document
                .querySelector('#editorPage #nextButton')
                .addEventListener('click', function (e) {
                    editor.getProofImages()
                        .then(function (result) {
                            // 미리보기 검증 이미지 정보 저장
                            approveData = result;

                            // 승인 페이지로 이동
                            goToPage('approve');
                        })
                        .catch(function (error) {
                            // 미리보기 검증 이미지 가져오기 실패
                            approveData = handleError(error, 'Getting proof images failed with exception: ');
                        });
                });

            // 제품 디자인 편집 완료
            document
                .querySelector('#approvePage #approveButton')
                .addEventListener('click', function (e) {
                    editor.finishProductDesign()
                        .then(function (result) {
                            // 고해상도 출력 정보 저장
                            renderData = result;

                            // 완료 페이지로 이동
                            goToPage('finish');
                        })
                        .catch(function (error) {
                            renderData = handleError(error, 'Product customization completion failed with exception: ');
                        });
                });

            // 디자인 에디터에서 새 제품 디자인 열기
            document
                .querySelector('#finishOrderPage #newDesign')
                .addEventListener('click', function (e) {
                    editor.revertProduct();
                    goToPage('design');
                });

            // 디자인 에디터에서 제품 디자인 다시 열기
            document
                .querySelector('#approvePage #lnkEditAgain')
                .addEventListener('click', function (e) {
                    goToPage('design');
                });

            // 제품 정보로 승인과 완료 페이지 초기화

            // 미리보기 검증 이미지 링크로 승인 페이지 초기화
            function setApprovePageData() {
                let previewElements = document.querySelectorAll('#approvePage .previewImg');

                previewElements.forEach(function (element) {
                    element.setAttribute('src', '');
                });

                for (let i = 0; i < approveData.proofImageUrls.length && i < previewElements.length; i++) {
                    previewElements[i].setAttribute('src', approveData.proofImageUrls[i]);
                }
            }

            // 출력용 파일 링크와 향후 디자인 재편집을 위한 링크를 가진 완료 페이지 초기화
            function setFinishPageData() {
                document
                    .querySelector('#finishOrderPage #hiResLink')
                    .setAttribute('href', renderData.hiResOutputUrls[0]);
            }

            // 네비게이션 마법사
            function goToPage(to) {
                setupPage(to);
            }

            window.onpopstate = function (e) {
                setupPage(e.state);
            }

            let workflowPages = {
                'design': {elements: document.getElementById('editorPage')},
                'approve': {elements: document.getElementById('approvePage'), setData: setApprovePageData},
                'finish': {elements: document.getElementById('finishOrderPage'), setData: setFinishPageData}
            }

            function setupPage(page) {
                let destPageData = workflowPages[page];

                if (typeof destPageData.setData === 'function') {
                    destPageData.setData();
                }

                workflowPages[currentPage].elements.style.display = 'none';
                destPageData.elements.style.display = 'block';

                currentPage = page;
            }
        })
    </script>
</head>

<body>
<div id="wrapper">
    <div id="content">
        <!-- 디자인 편집 페이지 -->
        <div id="editorPage">
            <div id="iframeWrapper">
                <iframe id="editorFrame" width="100%" height="800px"></iframe>
            </div>
            <div id="saveAndNextButtonsWrapper">
                <input id="addButton" type="button" value="추가"/>
                <input id="removeButton" type="button" value="삭제"/>
                <input id="saveButton" type="button" value="저장"/>
                <input id="nextButton" type="button" value="디자인 완료 >"/>
            </div>
        </div>

        <!-- 승인 페이지 -->
        <div id="approvePage" style="display: none">
            <div>
                <h1>Approve Your Product</h1>
                <!-- 미리보기 검증 이미지 -->
                <img class="previewImg" id="preview" alt="preview image" src=""/>
                <img class="previewImg" id="previewPage2" alt="preview image2" src=""/>
            </div>
            <div id="approveButtonWrapper">
                <input id="approveButton" type="button" value="승인 >"/>
            </div>
            <div class="return">
                <a id="lnkEditAgain">&lt; 재수정</a>
            </div>
        </div>

        <!-- 디자인 완료 페이지 -->
        <div id="finishOrderPage" style="display: none">
            <h1>출력용 파일 준비 완료</h1>
            <a id="hiResLink">출력용 파일 다운로드</a>
            <div>
                <input id="newDesign" type="button" value="< 새 디자인"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>