<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Business cards - The sample page - Customer's Canvas</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js">
    </script>
    <link href="{% static 'css/canvas/index.css' %}" rel="stylesheet"/>
    <!-- IFrameAPI 스크립트 -->
    <script id="CcIframeApiScript"
            type="text/javascript"
            src="{{ IframeApi }}">
    </script>

    <script>
        $(function () {
            // 제품 정의
            let productDefinition = {
                surfaces: [{
                    name: "Front Side",
                    printAreas: [{
                        designFile: "samples/businesscard/test-11", // PSD, IDML 파일 확장자 제외
                        safetyLines: [{ // 안전선
                            margin: 5,
                            color: "rgba(0,0,255,1)",
                            altColor: "rgba(255,255,255,0)"
                        }]
                    }],
                    previewMockups: [{down: "samples/mockup1"}],
                    proofImage: {
                        fileFormat: "PNG",
                        rgbColorProfileName: "Adobe RGB (1998)",
                        mockupEnabled: true
                    }
                },
                    {
                        name: "Back Side",
                        printAreas: [{
                            designFile: "samples/businesscard/test-12"
                        }],
                        previewMockups: [{down: "samples/mockup1"}]
                    }
                ]
            };

            // 에디터 설정 정의
            let configuration = {
                widgets: {
                    FinishButton: {
                        mode: "Disabled" // "Download", "Disabled"
                    }
                },
                initialMode: "Advanced", // "Simple", "Advanced", "SimpleOnly"
                rendering: {
                    proofImageMockupEnabled: true
                }
            };

            let editorFrame = document.getElementById('editorFrame');

            let editor = null;

            function handleError(error, message) {
                console.error(message, error);
                return error;
            }

            let loadData = null;

            // 에디터에 제품 불러오기
            CustomersCanvas.IframeApi.loadEditor(editorFrame, productDefinition, configuration)
                .then(function (e) {
                    // 에디터 불러오기 성공
                    editor = e;
                })
                .catch(function (error) {
                    // 에디터 불러오기 실패
                    loadData = handleError(error, "Load failed with exception: ");
                });

            let currentPage = "design";

            // getProofImages가 만드는 데이터 저장
            let approveData = null;

            // finishProductDesign가 만드는 데이터 저장
            let renderData = null;

            // saveProduct가 만드는 데이터 저장
            let saveData = null;

            // 제품 저장
            document
                .querySelector('#editorPage #saveButton')
                .addEventListener('click', function (e) {
                    editor.saveProduct()
                        .then(function (result) {
                            // 제품 상태 정보 저장
                            saveData = result;
                        })
                        .catch(function (error) {
                            // 제품 저장 실패
                            saveData = handleError(error, "Save failed with exception: ");
                        });
                });

            // 미리보기 검증 이미지 가져오기
            document
                .querySelector('#editorPage #nextButton')
                .addEventListener('click', function (e) {
                    editor.getProofImages()
                        .then(function (result) {
                            // 미리보기 검증 이미지 정보 저장
                            approveData = result;

                            // 승인 페이지로 이동
                            goToPage("approve");
                        })
                        .catch(function (error) {
                            // 미리보기 검증 이미지 가져오기 실패
                            approveData = handleError(error, "Getting proof images failed with exception: ");
                        });
                });

            // 제품 디자인 편집 완료
            document
                .querySelector('#editorPage #nextButton')
                .addEventListener('click', function (e) {
                    editor.finishProductDesign()
                        .then(function (result) {
                            // 고해상도 출력 정보 저장
                            renderData = result;

                            // 완료 페이지로 이동
                            goToPage("finish");
                        })
                        .catch(function (error) {
                            renderData = handleError(error, "Product customization completion failed with exception: ");
                        });
                });

            //Opening a new product in the designer.
            $("#finishOrderPage #newDesign").click(function () {
                editor.revertProduct();
                goToPage("design");
            });

            //Reopening the product in the designer.
            $("#approvePage #lnkEditAgain").click(function () {
                goToPage("design");
            });

            //Initializing the approval and finish pages with the product info.

            //Initializing the approval page with links to the proof images.
            function setApprovePageData() {
                let previewElements = $("#approvePage .previewImg").attr("src", "");
                for (let i = 0; i < approveData.proofImageUrls.length && i < previewElements.length; i++) {
                    previewElements[i].setAttribute("src", approveData.proofImageUrls[i]);
                }
            }

            //Initializing the finish page with the print-ready output URL and a link for reopening the product in the designer for further editing.
            function setFinishPageData() {
                $("#finishOrderPage #hiResLink").attr("href", renderData.hiResOutputUrls[0]);
            }

            //The wizard navigation.

            function goToPage(to) {
                setupPage(to);
            }

            window.onpopstate = function (e) {
                setupPage(e.state);
            }

            let workflowPages = {
                "design": {elements: $("#editorPage")},
                "approve": {elements: $("#approvePage"), setData: setApprovePageData},
                "finish": {elements: $("#finishOrderPage"), setData: setFinishPageData}
            }

            function setupPage(page) {
                let destPageData = workflowPages[page];

                if (typeof destPageData.setData === "function")
                    destPageData.setData();

                workflowPages[currentPage].elements.fadeOut(function () {
                    destPageData.elements.show();

                    currentPage = page;
                });
            }
        })
    </script>
</head>

<body>
<div id="wrapper">
    <div id="content">
        <!-- 디자인 편집 페이지 -->
        <div id="editorPage">
            <div id="iframeWrapper">
                <iframe id="editorFrame" width="100%" height="800px"></iframe>
            </div>
            <div id="saveAndNextButtonsWrapper">
                <!-- The Save button -->
                <input id="saveButton" type="button" value="Save"/>
                <!-- The Finish design button -->
                <input id="nextButton" type="button" value="Finish design >"/>
            </div>
        </div>

        <!-- 승인 페이지 -->
        <div id="approvePage" style="display: none">
            <div>
                <h1>Approve Your Product</h1>
                <!-- proof images -->
                <img class="previewImg" id="preview" alt="preview image" src=""/>
                <img class="previewImg" id="previewPage2" alt="preview image2" src=""/>
            </div>
            <div id="approveButtonWrapper">
                <input id="approveButton" type="button" value="Approve >"/>
            </div>
            <div class="return">
                <a id="lnkEditAgain">&lt; I want to make some changes</a>
            </div>
        </div>

        <!-- 디자인 완료 페이지 -->
        <div id="finishOrderPage" style="display: none">
            <h1>Your Product is Ready</h1>
            <!-- 고해상도 출력 저장 링크 -->
            The print-ready file can be downloaded from <a id="hiResLink">this link</a>
            <div>
                <input id="newDesign" type="button" value="< New design"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>